  .dummy-img{
  	height: 50px;
  	width: 60px;
  }
  .warning_message{
  	display: none;
  	color: red;
  }
.table-img-size{
	height: 50px;
  	width: 60px;
}
.border-body .form-group .form-line:after{
  border-bottom: none;
}
.add-plus-btn.fa{
  font-size: 14px !important;
}